version: "2"
services:
  web-laravel:
    container_name: web-laravel
    build:
      context: ./
      dockerfile: docker/Dockerfile
      args:
          USER: $USER
    ports:
     - "91:80"
    volumes:
     - ./:/var/www/html
    depends_on:
     - mysql-laravel
    links:
     - mysql-laravel
    user: $USER
  mysql-laravel:
      image: mysql:5.7
      ports:
       - "3308:3306"
      environment:
       - MYSQL_ROOT_PASSWORD=root
       - MYSQL_USER=user
       - MYSQL_PASSWORD=user
       - MYSQL_DATABASE=laravel
      volumes:
       - ./docker/mysql:/var/lib/mysql
  phpmyadmin-laravel:
      image: phpmyadmin/phpmyadmin
      links:
       - mysql-laravel
      depends_on:
       - mysql-laravel
      ports:
       - "92:80"
      environment:
       - PMA_HOST=mysql
